$primaryColor: #fb7299;

.d-none {
	display: none;
}

.button {
	display: flex;
	min-width: 32px;
	min-height: 32px;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid rgb(138, 138, 138);
	cursor: pointer;
}

#joybook-container {
  z-index: 99;
  width: 48px;
  height: 48px;
	position: fixed;
	bottom: 30px;
	left: -30px;
	transition: 0.3s ease-in-out;
}

#joybook-settings {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#joybook-avatar {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	border-radius: 50%;
	background-color: rgb(136, 136, 136);
	border: 4px solid $primaryColor;
	opacity: 1;
  width: 100%;
  height: 100%;
	& > img {
    width: 100%;
    height: 100%;
	}
}

#settings-options-container {
	position: relative;

	& > * {
		margin: 6px 0;
	}
}
