#bili-avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	border: 2px solid #fb7299;
}

#vip-btn {
	width: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 14px;
	color: #eee;
	padding: 7px 0;
	
	& > * {
		background: #fb7299;
		padding: 8px 23px;
		transition: 0.3s ease;
		width: 100%;
		display: flex;
		align-items: center;
	}
	&:hover {
		& > * {
			background: #f75582;
		}
	}
}
#clear-btn {
	width: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 14px;
	color: #eee;
	padding: 7px 0;
	
	& > * {
		background: #ff4646;
		padding: 8px 23px;
		transition: 0.3s ease;
		width: 100%;
		display: flex;
		align-items: center;
	}
	&:hover {
		& > * {
			background: #f82b2b;
		}
	}
}
